body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: Museo-100;
    background: #f7f7f7;
    color: #555555;
}

.navbar-inverse .navbar-brand {
    color: #f2f2f2;
}

.navbar-header {
    padding-left: 100px;
    background: url('../images/logo.png') left center no-repeat scroll;
    background-color: transparent;
    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    background-size: 80px 80px;
    -o-background-size: 80px 80px;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 100%;
    background: url('../images/headers/header_19.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.wrapper {
    height: 100%;
    top: 50%;
    padding: 40px 50px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #f2f2f2;
    z-index: 1;
    border: 1px solid;
}

.tagline {
    font-family: Museo-300;
    text-shadow: 0 0 10px #222222;
    color: #ededed;
}

.img-center {
    margin: 0 auto;
}

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.map-header {
    background-color: #ededed;
    color: #222222;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

.img-circle{
    border: 1px solid #838383;

}

.btn {
    border-radius: 0px;
    padding: 15px 40px;
    transition: #6363CE 300ms ease 0s, color 300ms ease 0s;
}

.btn-glass {
    border: 1px solid #838383;
    background: none repeat scroll 0% 0% transparent;
    color: #838383 !important;
}

.btn-glass-inverted {
    border: 1px solid #f7f7f7;
    background: none repeat scroll 0% 0% transparent;
    color: #f7f7f7 !important;
}

footer {
    margin: 50px 0;
}

@font-face {
    font-family: 'Museo-100';
    src: url('../fonts/museo/museosans-100.eot');
    src: url('../fonts/museo/museosans-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museosans-100.woff') format('woff'),
    url('../fonts/museo/museosans-100.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo-300';
    src: url('../fonts/museo/museosans-300.eot');
    src: url('../fonts/museo/museosans-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museosans-300.woff') format('woff'),
    url('../fonts/museo/museosans-300.ttf') format('truetype');
}


@font-face {
    font-family: 'Museo-500';
    src: url('../fonts/museo/museosans-500.eot');
    src: url('../fonts/museo/museosans-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museosans-500.woff') format('woff'),
    url('../fonts/museo/museosans-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo-700';
    src: url('../fonts/museo/museosans-700.eot');
    src: url('../fonts/museo/museosans-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museosans-700.woff') format('woff'),
    url('../fonts/museo/museosans-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo-900';
    src: url('../fonts/museo/museosans-900.eot');
    src: url('../fonts/museo/museosans-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/museosans-900.woff') format('woff'),
    url('../fonts/museo/museosans-900.ttf') format('truetype');
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museo/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/museo/glyphicons-halflings-regular.ttf') format('truetype');
}
